<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Library Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item >
    <button ion-item *ngFor="let quote of quoteCollection" (click)="itemSelected(quote.category)">
      <ion-icon name={{quote.icon}} item-start></ion-icon>
      <h2>{{ quote.category }}</h2>
      <p>{{quote.quotes.length}} quotes</p>
    </button> 
  </ion-item>
</ion-content>
